<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game.name }} - Game Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game_detail.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='controller.ico') }}" type="image/x-icon">
</head>

</head>
<body>
    <div class="game-detail-container">
        <img src="{{ game.cover_url }}" alt="{{ game.name }}" class="game-cover">
        <h1>{{ game.name }}</h1>
        <p><strong>Summary:</strong> {{ game.summary }}</p>
        <p><strong>Rating:</strong> {{ game.total_rating }}/100</p>
        <p><strong>Release Date:</strong> {{ game.release_date }}</p>
        <p><strong>Genres:</strong> {{ game.genres | join(', ') }}</p>
        <p><strong>Game Modes:</strong> {{ game.game_modes | join(', ') }}</p>
        <a href="{{ url_for('home') }}" class="back-link">Back to Home</a>
    </div>
    
</body>
</html>
